html{
  text-align: center;
  box-sizing: border-box;
}

header{
  color: white;
  background-color: black;
  padding-top: 1px;
  padding-bottom: 1px;
}

nav > ul > li > a{
  text-decoration: none;
  color: white;
  background-color: lightgrey;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  padding: 10px;
}

nav > ul{
  display: inline-flex;
  list-style-type: none;
  margin-top: 10px;
  padding-bottom: 5px;
}
